*{
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
}
.fixe{
    position: fixed;
    width: 100%;
    background-color: #fff;
}
/* header{
    position: sticky;
    top: 0px;
    background-color: white;
} */
.align-center{
    align-items: center;
}
nav a{
    text-decoration: none;
    margin: 20px;
    color: black;
}

nav a:hover, .socials a:hover{
    color:#7843E9;
}

.socials a{
    margin: 20px;
    color: black;
}

.logo{
    width: 100px;
    
}

.titre-size{
    font-size: 70px;
}

.bouton{
    background-color: #7843E9;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.bouton2{
    background-color: gainsboro;
    color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    width: 250px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.text-center{
    text-align: center;
}

:root{
  --primary: #7843E9;
}

.text-right{
    text-align: right;
}

.cinquante{
    width: 47%;
}

.trente{
    width: 30%;
}

.fond-noir{
    background-color: black;
}

.fond-gris{
    background-color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    padding: 60px;
}

h2{
    margin-top: 40px;
}
.bg-triangle{
    background-image: url(./Image/bg-triangles.png);
    background-size: 30%;
    background-repeat: repeat;
}

.bouton-margin{
    margin-top: 20px;
}

.img-html{
    width: 350px;
}

.img-projet{
    width: 500px;
}

html{
    scroll-behavior: smooth;
}

#mes-projets p{
    text-align: left;
}